{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": "Chrome >= 90, Safari >= 14, Firefox >= 90, Edge >= 90"
      }
    ],
    "@babel/preset-typescript",
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
