.subContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  > h2,
  h3 {
    margin: 5px 0;
  }
  > div {
    margin: 2px 0;
    font-weight: 700;
    > span {
      font-weight: 400;
    }
  }
  font-size: 14px;
}

.section {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}

.icon {
  width: 64px;
  margin: 10px;
}
