.mainLayout {
    color: $grey-02;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main {
    margin: 20px 10%;
}

@media screen and (min-width: $breakpoint-desktop-large) {
    main {
        height: 100%;
    }
}
